<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>

<body>
    <main class="main_">
        <section>
            <form action="/token" method="post">
                <h1 class="title">Iniciar Sesión</h1>
                <div class="input-box_">
                    <input type="text" name="username" placeholder="Nombre de usuario" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box_">
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="remember-me_">
                    <label><input type="checkbox">Recordarme</label>
                    <a href="#"> Olvidaste Tu Contraseña</a>
                </div>

                <button type="submit" class="btn_">Login</button>
            </form>
        </section>
    </main>
</body>

</html>