<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>crear nuevo registro de información</h2>
    <form action="/admin/nosotros/crear" method="post">

        <label for="correo">Correo:</label><br>
        <input type="text" id="correo" name="correo" required><br>
 
        <label for="direccion">Dirección:</label><br>
        <input type="text" id="direccion" name="direccion" required><br><br>

        <label for="telefono">Telefono:</label><br>
        <input type="text" id="telefono" name="telefono" required><br>

        <label for="whatsapp">WhatsApp:</label><br>
        <input type="text" id="whatsapp" name="whatsapp" required><br>

        <label for="facebook">Facebook:</label><br>
        <input type="text" id="facebook" name="facebook" required><br>

        <label for="instagram">Instagram:</label><br>
        <input type="text" id="instagram" name="instagram" required><br>

        <input type="submit" value="Enviar">

    </form>
</body>

</html>